<nav id="main">
  <div class="brand">
    <span>poker</span>rank
  </div>
  <div class="nav-links">
    <a class="button desktop-only" href="#">Pulic Leagues</a>
    <a class="button" href="#">Log In</a>
  </div>
</nav>
