.form-row {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > div.main-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

em.field-note {
  font-size: 0.7em;
}

div.devise-links {
  display: flex;
  justify-content: flex-start;

  & > a {
    margin-right: 10px
  }
}

label.remember-box {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  & > input {
    margin-right: 5px;
  }
}
